<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Custom CSS -->
    {% block customCSS %}
    {% endblock %}
</head>

    
    {% if current_user.rol == 'Administrador' %}

{% endif %}
    <!-- Contenido de la página -->
    {% block body %}
    {% endblock %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>